<h1> Contacts Organizer </h1>
<h2> Contact List </h2>
<ul>
	<% @contacts.each do |contact| %>
	<li><h3><%= contact.name %></h3>
	<ul>
		<li>Address: <%= contact.address %></li>
		<li>Phone: <%= contact.phone %></li>
		<li>Email: <%= contact.email %></li>
		<h6>Created at: <i><%= contact.created_at %></i>
		<br>
		Updated at:<i><%= contact.updated_at %></i></h6>
	</ul>
	</li>
	<% end %>
</ul>